<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a class="navbar-brand" href="<%= root_path %>"><i class="fas fa-home"></i></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon">Mi App</span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>
       <li class="nav-item">
         <%= link_to current_user.email, "#", class: 'nav-link' %>
       </li>
       <li class="nav-item">
         <%= link_to 'Cerrar Sesion', destroy_user_session_path, method: :delete, class: 'nav-link' %>
       </li>
       <li class="nav-item">
       </li>
     <% else %>
       <li class="nav-item">
        <%= link_to 'Iniciar sesion',pages_newmodal_path, data: {remote: true }, class: 'nav-link' %>
       </li>
       <li class="nav-item">
         <%= link_to 'Registrarse', pages_newregistro_path,data: {remote: true}, class: 'nav-link' %>
       </li>
     <% end %>
   </ul>
 </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 100% !important;">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mi App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="formulario">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
    </div>