
<%= link_to 'carro', orders_path %>

<h2>Carrito de compra</h2><br><hr style="background:#b4a895;">



<div class="row">
  
<div class="col-sm-3">
      <h3><strong>Categorias</strong></h3>
      <ul style="list-style: none;padding-left: 0;">
        <li>
          <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input id="buscar" type="text" class="form-control" placeholder="Pollo, Palta..." aria-label="Username" aria-describedby="basic-addon1" style="margin-right: 35px;">
    </div class="text-center">
        </li>
        <li>Categoria 1</li>
        <li>Categoria 2</li>
        <li>Categoria 3</li>
        <li>Categoria 4</li>
        <li>Categoria 5</li>
      </ul>
    </div>
    <div class="col-md-8">
      <div id="accordion">
  <% @categories.each do |category| %>      
  <div class="card">
    <div class="card-header" id="heading<%= category.id %>">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= category.id %>" aria-expanded="true" aria-controls="collapse<%= category.id %>">
          <%= category.name %>
        </button>
      </h5>
    </div>

    <div id="collapse<%= category.id %>" class="collapse show" aria-labelledby="heading<%= category.id %>" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
           <%= render category.products %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<br>
      <div style="border: solid 1px #b4a895; width:100%;">
        <br>
        <h1 style="padding-left: 10px;">Categoria 1</h1>
        <br>
        
      </div>
      
        <div class="row" id="products" style="margin-left: 15px;">
          <%= render @products %>
        </div> 
      
    </div>
    <div class="col-md-1">
      <br>
      <div style="background: grey; border: solid black; margin-left:50px; margin-right:5px;">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
</div>

<script type="text/javascript">
  $('#buscar').keyup(function(){
    $.ajax({
        url: '<%= products_path%>',
        type: 'GET',
        dataType: 'script',
        data: {buscar: $('#buscar').val()}
      })
    .done(function(){
      console.log("success");
    })
    .fail(function(){
      console.log("error");
    });

  });
  </script>